<div class="show-container">

    <!-- <div class="container-filter"> -->
    <div class="all-buttons">
        <!-- corrigir appearence-->
        <mat-form-field class="input" appearance="outline">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex Name" autocomplete="on">
        </mat-form-field>

         <button (click)="exportData()" class="btn btn-secondary">Export Customers </button>


        <button type="button" (click)="navigateTo()" class="btn btn-primary"> Add Customer</button>

    </div>

    <table matSort mat-table [dataSource]="dataSource" class="table table-striped">

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>


        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Family Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthdate</th>
            <td mat-cell *matCellDef="let element"> {{element.birthDate | date: 'dd-MM-yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon mat-icon-button (click)="editCustomer(element)" class="icon edit-icon" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                </mat-icon>
                <mat-icon mat-icon-button (click)="deleteCustomer(element.uuid)" class="icon delete-icon" matTooltip="Delete">
                    <mat-icon>delete</mat-icon>
                </mat-icon>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>


<mat-paginator class="custom-paginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" [length]="10" [pageSize]="10">
</mat-paginator>