<!-- listen click event -->
<button type="button" (click)="eventClick()" >Button</button>

<!-- listen event input-->
<input type="text" (input)="eventInput($event)" placeholder="type a text">

<!-- listen event of "keydow and keyup" from keyboard -->
<input type="text"(keydown)="eventKeyDown($event)" (keyup)="eventKeyUp($event)" placeholder="press a key">

<!-- list keyUp event-->
<input type="text" (keyup)="eventKeyUp($event)" placeholder="leave a key">


<p>{{text}}</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Family Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of myList">
            <td>{{dataItem.name}}</td>
            <td>{{dataItem.familyName}}</td>
            <td>{{dataItem.age}}</td>
        </tr>
    </tbody>
</table>