<div class="box">

    <h2>Edit Reading</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="reading-form">

        <mat-form-field>
            <mat-label>Meter Id</mat-label>
            <input matInput formControlName="meterId" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Kind Of Meter</mat-label>
            <mat-select formControlName="kindOfMeter">
                <mat-option value="Water">Water</mat-option>
                <mat-option value="Eletricity">Eletricity</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Meter Count</mat-label>
            <input matInput formControlName="meterCount" />
        </mat-form-field>

        <label>Substitute</label>
        <mat-radio-group formControlName="substitute">
            <mat-radio-button value="true">yes</mat-radio-button>
            <mat-radio-button value="false">no</mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
            <mat-label>Comment</mat-label>
            <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>

        <!-- <mat-form-field>
      <mat-label>Date of Reading</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfReading" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

        <div style="margin-top: 20px;">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                Save
            </button>
        </div>

    </form>
</div>