<div class="show-container">

    <button type="button" (click)="navigateTo()" class="btn btn-primary float-right m-2"> Add Meter Reading</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utility</th>
                <th>Comment</th>
                <th>meter Id</th>
                <th>Amount</th>
                <th>Substitute</th>
                <th>Date of Reading</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let dataItem of listOfReading">
                <td>{{dataItem.kindOfMeter}}</td>
                <td>{{dataItem.comment}}</td>
                <td>{{dataItem.meterId}}</td>
                <td>{{dataItem.meterCount}}</td>
                <td>{{dataItem.substitute ? 'yes' : 'no'}}</td>
                <td>{{dataItem.dateOfReading}}</td>
                <td>
                    <div>
                        <button mat-icon-button (click)="editReading()" class="icon edit-icon" matTooltip="Edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteReading(dataItem.uuid)" class="icon delete-icon" matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>