<div class="show-container">

    <div class="all-buttons">
        <input type="text" class="find-reading m-2" [(ngModel)]="uuid">
        <button (click)="toggleFind()" class="btn btn-secondary m-2">Find</button>
    
        <button (click)="exportData()" class="btn btn-secondary m-2">Export Reading</button>
    
    
        <button type="button" (click)="navigateTo()" class="btn btn-primary float-right m-2"> Add Meter Reading</button>
    </div>


<table class="table table-striped" *ngIf="isFindMode">
           <thead>
            <tr>
                <th>Utility</th>
                <th>Customer Id</th>
                <th>Comment</th>
                <th>meter Id</th>
                <th>Amount</th>
                <th>Substitute</th>
                <th>Date of Reading</th>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td>{{foundReading.kindOfMeter}}</td>
                <td>{{foundReading.customerId}}</td>
                <td>{{foundReading.comment}}</td>
                <td>{{foundReading.meterId}}</td>
                <td>{{foundReading.meterCount}}</td>
                <td>{{foundReading.substitute ? 'yes' : 'no'}}</td>
                <td>{{foundReading.dateOfReading}}</td>
                <td>

            </tr>
        </tbody>
    </table>


    <table class="table table-striped" *ngIf="!isFindMode">
        <thead>
            <tr>
                <th>Utility</th>
                <th>Customer Id</th>
                <th>Comment</th>
                <th>meter Id</th>
                <th>Amount</th>
                <th>Substitute</th>
                <th>Date of Reading</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let dataItem of listOfReading">
                <td>{{dataItem.kindOfMeter}}</td>
                <td>{{dataItem.customerId}}</td>
                <td>{{dataItem.comment}}</td>
                <td>{{dataItem.meterId}}</td>
                <td>{{dataItem.meterCount}}</td>
                <td>{{dataItem.substitute ? 'yes' : 'no'}}</td>
                <td>{{dataItem.dateOfReading}}</td>
                <td>
                    <div>
                        <button mat-icon-button (click)="editReading(dataItem)" class="icon edit-icon" matTooltip="Edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteReading(dataItem.uuid)" class="icon delete-icon" matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>